name: Windows Build Python Wheels 

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  release:
    types: [published]

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  build-wheels:
    name: Build Wheel ${{ matrix.python-version }}-${{ matrix.os }}-cu${{ matrix.cuda }}
    runs-on: ${{ matrix.os }}
    concurrency:
      group: ${{ github.ref }}-${{ github.base_ref }}-${{ github.head_ref }}-build-wheel-${{ matrix.python-version }}-${{ matrix.os }}-cu${{ matrix.cuda }}
      cancel-in-progress: true
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-2022
        cuda:
          - 12.8.1
        python-version:
          - "cp310"
          - "cp311"
          - "cp312"
          - "cp313"
    timeout-minutes: 360

    steps:
      - name: Convert Windows Path to Unix Path
        shell: bash
        run: |
          UNIX_PATH=$(echo "${{ github.workspace }}" | tr '\\' '/')
          echo "UIPC_WORKSPACE=$UNIX_PATH" >> $GITHUB_ENV

      - name: Checkout code
        uses: actions/checkout@v5
    
      - name: Set up Python
        uses: actions/setup-python@v5

      - name: Install a specific version
        uses: eifinger/setup-uv@v1
        with:
          version: 'latest'

      - name: Generate vcpkg.json
        run: |
          cmake -E make_directory "${{ env.UIPC_WORKSPACE }}/build"
          python scripts/gen_vcpkg_json.py "${{ env.UIPC_WORKSPACE }}/build" --with_cuda_backend=ON

      - name: Setup vcpkg
        id: vcpkg
        uses: johnwason/vcpkg-action@v6
        with:
          manifest-dir: "${{ env.UIPC_WORKSPACE }}/build"
          triplet: ${{ matrix.os == 'windows-2022' && 'x64-windows-release' }}
          cache-key: ${{ matrix.os }}
          revision: master
          token: ${{ github.token }}
          github-binarycache: true
          fetch-depth: "0"

      - name: Setup CUDA ${{ matrix.cuda}}
        uses: Jimver/cuda-toolkit@v0.2.30
        with:
          cuda: "${{ matrix.cuda }}"

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3.1
        env:
          CIBW_BUILD: "${{ matrix.python-version }}-*"
          CIBW_ENVIRONMENT: >
            CMAKE_TOOLCHAIN_FILE="${{ env.UIPC_WORKSPACE }}/vcpkg/scripts/buildsystems/vcpkg.cmake"
        with:
          package-dir: "${{ env.UIPC_WORKSPACE }}"
          output-dir: "${{ env.UIPC_WORKSPACE }}/build/wheelhouse"

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: pyuipc-${{ matrix.python-version }}-${{ matrix.os }}-cu${{ matrix.cuda }}
          path: "${{ env.UIPC_WORKSPACE }}/build/wheelhouse/*.whl"