name: cmake

on:
  pull_request:
    branches:
      - "main"
    paths-ignore:
      - ".clang-format"
      - ".clangd"
      - ".cursor/**"
      - ".gitignore"
      - "LICENSE"
      - "README.md"
      - "docs/**"
      - "**/xmake.lua"
      - ".github/workflows/xmake.yml"
      - ".github/workflows/docs.yml"
      - ".github/workflows/python-wheels.yml"

jobs:
  build:
    strategy:
      matrix:
        os: [windows-2022, ubuntu-22.04]

    runs-on: ${{ matrix.os }}

    concurrency:
      group: ${{ github.ref }}-${{ github.base_ref }}-${{ github.head_ref }}-cmake-${{ matrix.os }}
      cancel-in-progress: true

    steps:
      - name: Maximize build space
        if: matrix.os == 'ubuntu-22.04'
        uses: AdityaGarg8/remove-unwanted-software@v4.1
        with:
          remove-android: "true"
          remove-haskell: "true"
          remove-codeql: "true"

      - name: Setup cuda
        uses: Jimver/cuda-toolkit@v0.2.30
        id: cuda-toolkit
        with:
          cuda: "12.8.1"

      - name: Setup ninja
        if: matrix.os == 'ubuntu-22.04'
        run: |
          sudo apt update
          sudo apt install ninja-build

      - name: Setup ninja
        if: matrix.os == 'windows-2022'
        uses: seanmiddleditch/gha-setup-ninja@master

      - name: Setup msvc sysroot for cmake
        if: matrix.os == 'windows-2022'
        uses: ilammy/msvc-dev-cmd@v1

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Generate vcpkg.json
        run: |
          cmake -E make_directory "${{ github.workspace }}/build"
          python scripts/gen_vcpkg_json.py "${{ github.workspace }}/build" --with_cuda_backend=ON

      - name: Setup vcpkg
        id: vcpkg
        uses: johnwason/vcpkg-action@v6
        with:
          manifest-dir: "${{ github.workspace }}/build"
          triplet: ${{ matrix.os == 'windows-2022' && 'x64-windows-release' || 'x64-linux' }}
          cache-key: ${{ matrix.os }}
          revision: master
          token: ${{ github.token }}
          github-binarycache: true
          fetch-depth: "0"

      - name: Build libuipc
        env:
          CMAKE_TOOLCHAIN_FILE: "${{ github.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake"
        run: |
          cmake -S ${{ github.workspace }} -B ${{ github.workspace }}/build --preset ci-release -DUIPC_CUDA_ARCHITECTURES=89
          cmake --build ${{ github.workspace }}/build --preset ci-release --parallel 4
